*{
    margin: 0;
    padding: 0;
    border: box;
}

body{
    background-color: white;
    font-family: sans-serif;
    font-weight: bold;
}

header nav{
    position: fixed;
    background-color: white;
    width: 98vw;
    height: 80px;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.pinterest-icon{
    width: 35px;
    padding: 14px;
}

.pinterest-icon:hover{
    background-color: #e9e9e9;
    border-radius: 150px;
}

.first-list{
    display: flex;
}

.first-list li{
    list-style: none;
    padding: 14px 12px;
}

.first-list a{
    text-decoration: none;
    color: black;
}

#start{
    background-color: black;
    color: white;
    padding: 12px 18px;
    border-radius: 25px;
}

.search{
    flex-grow: 1;
    height: 48px;
    background-color: #e9e9e9;
    border-radius: 30px;
}

.search:hover{
    background-color: #e1e1e1;
}

.search:focus-within{
    border: 4px #7fc1ff solid;
}

.bar{
    display: flex;
    align-items: center;
    height: 48px;
}

.bar input{
    border: none;
    background-color: inherit;
    padding: 0 8px 0 0;
    font-size: 16px;
    flex-grow: 1;
    outline: none;
}

.lens{
    padding: 13px;
}

.right-items span{
    padding: 8px;
    font-size: 28px;
}

.right-items span:hover{
    background-color: #e9e9e9;
    height: 28px;
    border-radius: 150px;
    cursor: pointer
}

.main-content{
    position: absolute;
    margin-top: 80px;
}

.images{
    columns: 5 240px;
    margin: auto;
}

.card-image{
    position: relative;
    padding: 6px;
}

.card-image img{
    border-radius: 15px;
    min-width: 280px;
    max-width: 280px;
}

.card-image:hover > :first-child{
    filter: brightness(70%);
}

.card-image:hover > *{
    visibility: visible;
    display: inline;
}

.button{
    position: absolute;
    left: 65%;
    top: 5%;
    padding: 13px 15px;
    background-color: #e60023;
    border-radius: 30px;
    border: none;
    visibility: hidden;
    
}

.button a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.hide1{
    position: absolute;
    left: 60%;
    bottom: 20px;
    background-color: white;
    border-radius: 70px;
    padding: 2px 4px;
    visibility: hidden;
    display: none;
}

.hide2{
    position: absolute;
    left: 78%;
    bottom: 20px;
    background-color: white;
    border-radius: 70px;
    padding: 2px 4px;
    visibility: hidden;
    display: none;
}